/*$Butler: 'Butler',
sans-serif;*/


$orange: #FF9900;
$active: #fb0909;
$ac: #fcd7b6;
$green:#14B4BE;
$white: #FFFFFF;
$black: #000000;
$title: #436372;


/*$ac: #fcd7b6;

/*accent*/

$antique:#fde7d3;
$default: #243f4d;
$title: #436372;
$Cream: #feefe2;
$Crayola: #c2d2db;
$red: #e72828;
$red1 :#fe3e57;
$orange: #ffa500;

$active: #fb0909;
$ac: #fcd7b6;
$green:#14B4BE;


@mixin line-clamp($line-clamp, ) {
    display: -webkit-box;
    -webkit-line-clamp: $line-clamp;
    -webkit-box-orient: vertical;
    overflow: hidden;
    
}

@mixin line-height($font-size, $line-height, ) {

    line-height: ( $line-height / $font-size)
}
/*
@include clamp(5);
*/

$browser-context: 16;

@function em($pixels, $context: $browser-context) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1em;
}
